<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAHI</title>
</head>
<body style="background-color: blue;">
    <center>
        <h1>This is MAHI HTML Page</h1>
        <h2>Mahendra Singh Dhoni, commonly known as MS Dhoni, is a former Indian cricketer and captain of the Indian national team in limited-overs formats from 2007 to 2017, and in Test cricket from 2008 to 2014. He is also the current captain of Chennai Super Kings in the Indian Premier League.</h2>
        <img src="https://c.ndtvimg.com/2022-05/c07heuoo_ms-dhoni-csk-bcciipl_625x300_02_May_22.jpg?im=FaceCrop,algorithm=dnn,width=806,height=605" alt="">
        <a href="{% url 'sports:messi' %}"><h3 style="color: red;">Navigate To MESSI HTML Page</h3></a><br>
        <a href="{% url 'cricket:sushanth' %}"><h3 style="color:yellow">Navigate To SUSHANTH HTML Page</h3></a><br>
        <a href="{% url 'sports:ronaldo' %}"><h3 style="color: navy;">Navigate TO RONALDO HTML Page</h3></a>
    </center>
</body>
</html>