<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MESSI</title>
</head>
<body style="background-color: red;">
    <center>
        <h1>This is MESSI HTML Page</h1>
        <h2>Lionel Andrés Messi is an Argentine professional footballer who plays as a forward for Ligue 1 club Paris Saint-Germain and captains the Argentina national team.</h2>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSHtmhoQRUYPbwMTbOvrP2uoAtMHWmeuaMSCVW3aJAlYd87U_YUGHzjoTV7i82LaaBwe0&usqp=CAU" alt="">
        <a href="{% url 'cricket:mahi' %}"><h3 style="color: blue;">Navigate To MAHI HTML Page</h3></a><br>
        <a href="{% url 'cricket:sushanth' %}"><h3 style="color: yellow;">Navigate To SUSHANTH HTML Page</h3></a><br>
        <a href="{% url 'sports:ronaldo' %}"><h3 style="color: navy;">Navigate TO RONALDO HTML Page</h3></a>
    </center>
</body>
</html>