<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RONALDO</title>
</head>
<body style="background-color: navy;">
    <center>
        <h1>This is RONALDO HTML Page</h1>
        <h2>Cristiano Ronaldo dos Santos Aveiro GOIH ComM is a Portuguese professional footballer who plays as a forward for and captains both Saudi Professional League club Al Nassr and the Portugal national team.</h2>
        <img src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/i2pMiln8BJrU/v0/1200x-1.jpg" alt="">
        <a href="{% url 'cricket:mahi' %}"><h3 style="color: blue;">Navigate To MAHI HTML Page<</h3>/a><br>
        <a href="{% url 'cricket:sushanth' %}"><h3 style="color: yellow;">Navigate To SUSHANTH HTML Page</h3></a><br>
        <a href="{% url 'sports:messi' %}"><h3 style="color: red;">Navigate TO MESSI HTML Page</h3></a>
    </center>
</body>
</html>