<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUSHANTH</title>
</head>
<body style="background-color: yellow;">
    <center>
        <h1>This is SUSHANTH HTML Page</h1>
        <h2>Sushant Singh Rajput was an Indian actor known for his work in Hindi cinema. He starred in a number of commercially successful Hindi films such as M.S. Dhoni: The Untold Story, Kedarnath and Chhichhore.</h2>
        <img src="https://resize.indiatvnews.com/en/resize/newbucket/1200_-/2020/07/dhonisushant-1594106513.jpg" alt="">
        <a href="{% url 'cricket:mahi' %}"><h3 style="color: blue;">Navigate To MAHI HTML Page</h3></a><br>
        <a href="{% url 'sports:messi' %}"><h3 style="color: red;">Navigate To MESSI HTML Page</h3></a><br>
        <a href="{% url 'sports:ronaldo' %}"><h3 style="color:navy">Navigate TO RONALDO HTML Page</h3></a>
    </center>
</body>
</html>